
:root{
    --category-passive-color: #1A1C27;
    --category-active-color: #2C2F3E;
    --category-txt-passive-color: #676767;
    --category-txt-active-color: #FFF;
    --category-admin-active-color: #F8D86C;
    --page-title-color: #676767;
    --side-panel-color: #1A1C27;
    --main-panel-color: #2C2F3E;
    --main-color: #000;
    --common-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    --shika-color:#F8D86C;
    --warning-red-color:#FF5252;
    --japanese-font:'Noto Sans JP', sans-serif;
    --english-font: 'Poppins', sans-serif;
}

main::-webkit-scrollbar {
    width: 10px;
}

main::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 100px #2C2F3E;
  }

main::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow:0 0 0 1px rgba(255, 255, 255, .5);
    box-shadow:0 0 0 10000px #11131a;
}

textarea.m-input.single-line::-webkit-scrollbar {
    width: 10px;
}

textarea.m-input.single-line::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 100px #2C2F3E;

}

textarea.m-input.single-line::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow:0 0 0 1px rgba(255, 255, 255, .5);
    box-shadow:0 0 0 10000px #11131a;
}

html,body{
    height: 100%;
    width:100%;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: var(--main-color);
    font-family: 'Poppins', sans-serif;
    position: fixed;
    overflow: hidden;
}