
:root{
    --category-passive-color: #1A1C27;
    --category-active-color: #2C2F3E;
    --category-txt-passive-color: #676767;
    --category-txt-active-color: #FFF;
    --category-admin-active-color: #FFCB77;
    --page-title-color: #676767;
    --side-panel-color: #1A1C27;
    --main-panel-color: #2C2F3E;
    --main-color: #000;
    --japanese-font:'Noto Sans JP', sans-serif;
    --english-font: 'Poppins', sans-serif;
}


body{
    box-sizing: border-box;
    margin:0;
    height:100%;
    font-family: 'Poppins', sans-serif;
}