
:root{
    --category-passive-color: #1A1C27;
    --category-active-color: #2C2F3E;
    --category-txt-passive-color: #676767;
    --category-txt-active-color: #FFF;
    --category-admin-active-color: #F8D86C;
    --page-title-color: #676767;
    --side-panel-color: #1A1C27;
    --main-panel-color: #2C2F3E;
    --main-color: #000;
    --common-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    --japanese-font:'Noto Sans JP', sans-serif;
    --english-font: 'Poppins', sans-serif;
}

html{
    height: 100%;
    width: 100%;
}

body{
    box-sizing: border-box;
    margin:0;
    height:100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}