
.l-top-title{
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
    padding-left: 2em;
}

.l-top-title h1{
    margin: 1em;
}

.l-top-title img{
    border-radius: 5px;
    height:2.5em;
    width: 2.5em;
}

.l-main{
    box-sizing: border-box;
    display:flex;
    flex-flow:row;
    flex-wrap: nowrap;
    height:100%;
    width: 100%;
}

.l-left-bar{
    background:var(--side-panel-color);
    flex:1;
}

.l-category{
    padding: 0 2em 0 0;
}

.l-category li{
    list-style: none;
    margin: 1em 0;
}

main{
    background-color:var(--main-color);
    flex:4;
    overflow-y:scroll;
    padding: 3em;
    margin-bottom: 2em;
}

.l-right-bar{
    background-color:var(--side-panel-color);
    color: var(--category-txt-passive-color);
    flex:1;
    font-family: 'Noto Sans JP', sans-serif;
}

.l-status{
    padding-left: 2em;
}

.l-pages{
    background-color:#2C2F3E;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 2em;
    margin: 2em 0em;
}

.l-pages div{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}


#l-color_page div{
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    align-items: center;
}

#l-color_page div label{
    display: inline-block;
    margin-left: 1em;
}

.l-pwd-pack{
    align-items: center;
    position: relative;
    display : flex;
    flex-flow : row;
    flex-direction : row;
    flex-wrap : nowrap;
}

.l-admin-container{
    align-items: center;
    display: flex;
    flex-flow:row;
    align-items: flex-start;
    flex-wrap:nowrap;
}

.l-texts-wrapper{
    align-items: flex-start;
    display: flex;
    flex-flow:column !important;
    flex:2;
    text-align:left;
}

.l-texts-wrapper details{
    width: 100%;
}

.l-input-container{
    display: none;
}

/*To move submit button on left side*/
.l-submit-btn{
    width: 100%;
}

.post-date{
    margin-right: 0.5em;
}

.post-author{
    margin-left:0.5em;
}
