
.l-top-title{
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
    padding-left: 2em;
}

.l-top-title h1{
    margin: 1em;
}

.l-top-title img{
    height:2.5em;
    width: 2.5em;
}

.l-main{
    display:flex;
}

.l-left-bar{
    background:var(--side-panel-color);
    flex:1;
}

.l-category{
    padding: 0 2em 0 0;
}

.l-category li{
    list-style: none;
    margin: 1em 0;
}

main{
    background-color:var(--main-color);
    flex:4;
    padding: 3em;
}

.l-right-bar{
    background-color:var(--side-panel-color);
    color: var(--category-txt-passive-color);
    flex:1;
    font-family: 'Noto Sans JP', sans-serif;
}

.l-status{
    padding-left: 2em;
}

.m-member{
    align-items: center;
    display: flex;
    color:#676767;
    cursor: pointer;
}

.m-member-image{
    border-radius: 100%;
    object-fit: cover;
    object-position: top;
    height: 2em;
    margin-right: 1em;
    width: 2em;
}