
.l-top-title{
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
    padding-left: 2em;
}

.l-top-title h1{
    margin: 1em;
}

.l-top-title img{
    border-radius: 5px;
    height:2.5em;
    width: 2.5em;
}

.l-main{
    box-sizing: border-box;
    display:flex;
    flex-flow:row;
    flex-wrap: nowrap;
    height:100%;
    width: 100%;
}

.l-left-bar{
    background:var(--side-panel-color);
    flex:1;
}

.l-category{
    padding: 0 2em 0 0;
}

.l-category li{
    list-style: none;
    margin: 1em 0;
}

main{
    background-color:var(--main-color);
    flex:4;
    overflow-y:scroll;
    padding: 3em;
    margin: 0;
}

.l-right-bar{
    background-color:var(--side-panel-color);
    color: var(--category-txt-passive-color);
    flex:1;
    font-family: 'Noto Sans JP', sans-serif;
}

.l-status{
    padding-left: 2em;
}