
.l-top-title h1{
    color: #FFF;
}

.m-category-btn{
    background-color: transparent;
    border:none;
    border-radius: 0px 15px 15px 0;
    color:var(--category-txt-passive-color);
    cursor: pointer;
    font-size: 0.9em;
    height:5em;
    outline: none;
    padding: 0 1.5em 0 0;
    text-align: right;
    width: 100%;
}

.m-category-btn .fas{
    font-size: 1em;
    margin-right: 10px;
    pointer-events: none;
}

/*PC*/
@media screen and (min-width:1180px){

    .m-member{
        border-radius: 20px 0 0 20px;
        box-sizing: border-box;
        align-items: center;
        color:#676767;
        cursor: pointer;
        display: flex;
        margin: 1em 0;
        padding: 0 1em;
        width:100%;
    }

    .m-page-title{
        color: var(--page-title-color);
        font-family: 'Noto Sans JP', sans-serif;
        margin: 0;
    }

    .m-content-panel.post img{
        border-radius: 1em 0 0 1em;
        box-sizing: border-box;
        height:300px;
        object-fit: cover;
        object-position: top;
        width: 300px;
    }

    .m-content-panel{
        align-items: center;
        background-color: var(--main-panel-color);
        border-radius: 20px;
        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        justify-content: start;
        margin: 2em 1em;
        
    }
    
    .m-content-panel.post{
        max-height: 300px;
        cursor: pointer;
    }

    .content-body.post{
        max-height: 200px;
        overflow: hidden;
        pointer-events: none;
        text-overflow: ellipsis;
    }

    .post-title{
        color: #FFF;
        margin: 16px 0 0 0;
        pointer-events: none;
        
    }

    .post-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        pointer-events: none;
    }

    #m-member-display{
        margin:1em;
    }

    .content{
        color:#8D8D8D;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2em;
    }

    .m-submit-btn{
        background-color: var(--shika-color);
        border: none;
        border-radius: 20px;
        color: #2C2F3E;
        cursor: pointer;
        margin: 1em 0;
        outline: none;
        padding: 1em;
        font-weight: bold;
    }
    
    .m-submit-btn.white{
        background-color: #FFF;
    }
    
    .m-submit-btn.red{
        background-color: #FF5252;
        color:#FFF;
    }

    .m-pwd-toggle-button.fas{
        background-color: var(--category-passive-color);
        border: none;
        border-radius: 0 20px 20px 0;
        color: var(--category-txt-passive-color);
        cursor: pointer;
        font-size: 1em;
        outline: none;
        position: absolute;
        height: calc(100% - 32px);
        width:50px;
        right:0;
        top:0;
        transform: translateY(16px);
    }

    .m-admin_post_del_btn{
        background-color:#1A1C27;
        border:none;
        border-radius:20px;
        outline:none;
        cursor:pointer;
        height:50px;
        width: 50px;
        margin-right: 2em;
    }

    .m-img_upload_label{
        background-color: var(--side-panel-color);
        border-radius: 100%;
        color: var(--category-txt-passive-color);
        cursor: pointer;
        display: flex;
        flex-flow:column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
        height: 12.5em;
        background:contain center no-repeat;
        width: 12.5em;
        margin-left:1em;
    }

    .m-img_upload_label.full{
        background-color: var(--side-panel-color);
        border-radius: 20px;
        color: var(--category-txt-passive-color);
        cursor: pointer;
        display: flex;
        flex-flow:column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
        height: 12.5em;
        background:contain center no-repeat;
        width: 100%;
        margin:unset;
    }
}

/*SP*/
@media screen and (max-width:1179px){

    .m-page-title{
        color: var(--page-title-color);
        font-family: 'Noto Sans JP', sans-serif;
        margin: 0;
        padding-right: 2em;
    }

    .l-top-title h1{
        display: none;
    }
    
    .m-category-btn{
        background-color: transparent;
        border:none;
        border-radius: 0px 15px 15px 0;
        color:var(--category-txt-passive-color);
        cursor: pointer;
        font-size: 0em;
        height:3rem;
        outline: none;
        padding: 0 1.5em 0 0;
        text-align: center;
        width: 100%;
    }
    
    .m-category-btn .fas{
        font-size:1rem;
        margin-left: 15px;
        pointer-events: none;
    }

    .m-page-title{
        color: var(--page-title-color);
        font-family: 'Noto Sans JP', sans-serif;
        margin: 0;
    }

    .m-member{
        border-radius: 20px 0 0 20px;
        box-sizing: border-box;
        align-items: center;
        color:#676767;
        cursor: pointer;
        display: flex;
        margin: 1em 0;
        padding: 0 2em 0 0.75em;
        width:100%;
        height: 4rem;
    }
    
    .m-member-image{
        border-radius: 100%;
        object-fit: cover;
        object-position: top;
        height: 2em;
        margin-right: 1.5em;
        pointer-events: none;
        width: 2em;
    }
    
    .m-member-name{
        display:none;
        pointer-events: none;
    }

    .m-content-panel{
        align-items: left;
        background-color: var(--main-panel-color);
        border-radius: 20px;
        display: flex;
        flex-flow: column;
        flex-wrap: nowrap;
        justify-content: start;
        margin: 2em 0;
        
    }
    
    .m-content-panel.post{
        margin: 2em 0;
        max-height: 300px;
        cursor: pointer;
    }

    .m-content-panel.post img{
        border-radius: 1em 1em 0 0;
        height:4em;
        object-fit: cover;
        width: 100%;
    }
    .content.post{
        box-sizing: border-box;
        margin:0;
        max-height: 300px;
        padding: 1em;
        width: 100%;
    }

    .content-body.post{
        max-height: 50px;
        overflow: hidden;
        padding: 0 1em;
        pointer-events: none;
        text-overflow: ellipsis;
    }

    .post-title{
        color: #FFF;
        margin: 0 1em;
        pointer-events: none;
        
    }

    .post-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        pointer-events: none;
        padding: 0 1em;
    }

    #m-member-display{
        margin:1em;
    }

    .content{
        color:#8D8D8D;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1em;
    }

    .content-body{
        padding: 0 1em;
    }

    .m-submit-btn{
        background-color: var(--shika-color);
        border: none;
        border-radius: 20px;
        color: #2C2F3E;
        cursor: pointer;
        margin: 1em 0;
        outline: none;
        padding: 1em;
        font-weight: bold;
        font-size: 12px;
    }
    
    .m-submit-btn.white{
        background-color: #FFF;
    }
    
    .m-submit-btn.red{
        background-color: #FF5252;
        color:#FFF;
    }

    .m-pwd-toggle-button.fas{
        background-color: var(--category-passive-color);
        border: none;
        border-radius: 0 20px 20px 0;
        color: var(--category-txt-passive-color);
        cursor: pointer;
        font-size: 1.25em;
        outline: none;
        position: absolute;
        height: calc(100% - 24px);
        width:50px;
        right:0;
        top:0;
        transform: translateY(12px);
    }

    .m-admin_post_del_btn{
        background-color:#1A1C27;
        border:none;
        border-radius:20px;
        outline:none;
        cursor:pointer;
        height:50px;
        width: 50px;
        margin: 0 1em 1em 1em;
    }

    .m-img_upload_label{
        background-color: var(--side-panel-color);
        border-radius: 100%;
        color: var(--category-txt-passive-color);
        cursor: pointer;
        display: flex;
        flex-flow:column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
        height: 20vh;
        background:contain center no-repeat;
        width: 20vh;
        margin-bottom:1em;
    }

    .m-img_upload_label.full{
        background-color: var(--side-panel-color);
        border-radius: 20px;
        color: var(--category-txt-passive-color);
        cursor: pointer;
        display: flex;
        flex-flow:column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
        height: 12.5em;
        background:contain center no-repeat;
        width: 100%;
        margin:unset;
        margin-bottom: 1em;
    }
}

.m-post-panels{
    display: none;
    position: relative;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}

.m-content-panel.project{
    display: flex;
    flex-flow: column;
    cursor: pointer;
}

.m-content-panel.project.dis{
    box-sizing: border-box;
    cursor: auto;
    overflow-y: auto;
}

.m-content-panel.project img{
    border-radius: 20px 20px 0 0;
    height: 15em;
    object-fit: cover;
    object-position: top;
    width: 100%;
}

.post-title i.fab{
    margin-right:1em;
}

.modal-top i.fab{
    margin: 0 0.5em;
}

.content.post{
    max-height: 300px;
    flex:1;
}

.m-member-image{
    border-radius: 100%;
    object-fit: cover;
    object-position: top;
    height: 2em;
    margin-right: 1em;
    pointer-events: none;
    width: 2em;
}

.m-member-name{
    pointer-events: none;
}

.m-input.single-line{
    background-color:#1A1C27 ;
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
    color: #FFF;
    margin: 1em 0;
    outline: none;
    padding:1em;
    font-size: 1em;
    width: 100%;
}

.m-input.single-line.pwd{
    border-radius: all unset;
    border-radius: 20px 0 0 20px;
    position: relative;
    width:calc(100% - 50px);
}

.m-modal-bg{
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    height:100vh;
    width: 100vw;
    overflow-y: auto;
    position: fixed;
    top:0;
    left:0;
    padding:2em;
    z-index: 2;
}

.m-modal-bg.show{
    display:block;
}

.m-modal-main{
    align-items: center;
    background-color: #2C2F3E;
    box-sizing: border-box;
    border-radius: 20px;
    color:#FFF;
    display: flex;
    flex-flow: column;
    padding:2em;
    position: fixed;
    top:50%;
    left:50%;
    text-align: center;
    transform: translate(-50%,-50%);
    justify-content: space-around;
    width: 350px;
}

.modal-top img{
    border-radius: 100%;
    height:8em;
    object-fit: cover;
    width:8em;
    object-position: top;
    pointer-events: none;
}

.m-close-modal-btn{
    background-color: transparent;
    border: none;
    color: var(--category-txt-passive-color);
    cursor: pointer;
    font-size: 2em;
    outline: none;
}

.modal-txt p{
    color: #8D8D8D;
}

.m-no-contents-txt{
    color: #8D8D8D;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.m-no-contents-txt i.far{
    margin: 0 1em;
}

.m-page_color{
    background-color:transparent;
    border:none;
    border-radius: 20px;
    cursor: pointer;
    height: 6em;
    margin-bottom: 1em;
    outline: none;
    padding:0;
    width: 6em;
}

.m-page_color::-webkit-color-swatch{
    border: 1em solid #1A1C27;
    border-radius: 20px;
    outline: none;
}

.m-summary{
    color:var(--category-txt-passive-color);
    cursor: pointer;
    outline: none;
    margin-bottom: 1em;
}

.m-summary::-webkit-details-marker{
    display: none;
}

textarea{
    resize: none;
}