
.l-top-title h1{
    color: #FFF;
}

.m-category-btn{
    background-color: transparent;
    border:none;
    border-radius: 0px 15px 15px 0;
    color:var(--category-txt-passive-color);
    cursor: pointer;
    font-size: 0.9em;
    height:5em;
    outline: none;
    padding: 0 1.5em 0 0;
    text-align: right;
    width: 100%;
}

.m-category-btn .fas{
    font-size: 1em;
    margin-right: 10px;
}

.m-page-title{
    color: var(--page-title-color);
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
}

#m-member-display{
    margin:1em;
}

.m-post-panels{
    display: none;
}

.m-content-panel{
    align-items: center;
    background-color: var(--main-panel-color);
    border-radius: 20px;
    display: flex;
    margin: 2em 1em;
}

.m-content-panel.post{
    max-height: 300px;
    cursor: pointer;
}

.m-content-panel.project{
    display: flex;
    flex-flow: column;
    cursor: pointer;
}

.m-content-panel.project.dis{
    cursor: auto;
}

.m-content-panel.project img{
    border-radius: 20px 20px 0 0;
    height: 15em;
    object-fit: cover;
    width: 100%;
}

.post-title{
    color: #FFF;
    margin: 16px 0 0 0;
}

.content{
    color:#8D8D8D;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
}


.content.post{
    max-height: 300px;
}

.content-body.post{
    height: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.m-content-panel.post img{
    border-radius: 1em 0 0 1em;
    box-sizing: border-box;
    height:300px;
    object-fit: cover;
    object-position: top;
    width: 300px;
}
.post-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.m-member{
    border-radius: 20px 0 0 20px;
    box-sizing: border-box;
    align-items: center;
    color:#676767;
    cursor: pointer;
    display: flex;
    margin: 0;
    padding: 0 1em;
    width:100%;
}

.m-member-image{
    border-radius: 100%;
    object-fit: cover;
    object-position: top;
    height: 2em;
    margin-right: 1em;
    width: 2em;
}

.m-input.single-line{
    background-color:#1A1C27 ;
    border: none;
    border-radius: 20px;
    color: #FFF;
    margin: 1em 0;
    outline: none;
    padding:1em;
    font-size: 1em;
    width: 100%;
}

.m-submit-btn{
    background-color: var(--shika-color);
    border: none;
    border-radius: 20px;
    color: #2C2F3E;
    cursor: pointer;
    margin: 1em 0;
    outline: none;
    padding: 1em;
    font-weight: bold;
}

.m-modal-panel{
    background-color: #1A1C27;
    border-radius: 20px;
    height:50%;
    width: 70%;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
}

.m-modal{
    display: none;
}

.m-modal.show{
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.m-close-modal-btn{
    background-color: transparent;
    border: none;
    color: var(--category-txt-passive-color);
    cursor: pointer;
    font-size: 2em;
    outline: none;
    position: fixed;
    top: 20%;
    right: 15%;
}

.m-modal.member{
    display: none;
}

.modal-img.post{
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    object-position: top;
    height: 45%;
    width: 100%;
}